body {
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

header.header {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.header-body {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    background: white;
    max-width: 100%;
}

.header-nav {
    margin-left: auto;
}

.header-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.header-list_item {
    padding: 0 15px;
}

.header-link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    transition: ease 0.2s;
    text-decoration: none;
    position: relative;
}

.header-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #FF3600;
}

.header-link:hover:before {
    width: 100%;
}

.header-link::before {
    transition: width 0.35s;
}

.header-button {
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background: #FF3600;
    border-radius: 3px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: ease 0.2s;
    margin-left: 45px;
    text-decoration: none;
}
.section-main {
    margin-top: 80px;
    height: 600px;
    background: url(../images/ready.jpg) 100% 100%;
    background-size: cover;
}
.section-main-body {
    height: 600px;
    width: 340px;
    background: black;
    display: flex;
    flex-direction: column;
    left: -60px;
    position: absolute;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
}

.section-main-title {
    max-width: 320px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    position: relative;
    margin: 0 0 50px;
}

.section-main-title::after {
    content: '';
    position: absolute;
    bottom: -24px;
    width: 40px;
    height: 2px;
    left: 0;
    background: #FF3600;
}

.section-main-title span{
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.045em;
}

.section-main-description {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 30px;
    max-width: 320px;
}

.section-main-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    max-width: 320px;
}
.section-main_item {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.section-main_item img {
    margin-right: 15px;
}

.section-service {
    background: black;
}

.section-service-body {
    display: flex;
    padding: 50px 0;
    width: 100%;
    position: relative;
}
.section-service-text {
    max-width: 700px;
}

.section-service-title {
    max-width: 550px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 0 0 35px;
}
.section-service-title span {
    color: #FF3600;
}

.section-service-list {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.section-service-item {
    padding-left: 80px;
    max-width: 700px;
    margin-bottom: 20px;
}

.section-service-item_title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    position: relative;
    margin: 0 0 15px
}
.section-service-item_title::before {
    position: absolute;
    content: '';
    left: -55px;
    width: 40px;
    height: 2px;
    background: #FF3600;
    top: calc(50% - 1px);
}

.section-service-item_description {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    padding-left: 15px;
    margin: 0;
}

.section-service-form {
    width: 300px;
    height: 390px;
    filter: drop-shadow(5px 5px 20px rgba(255, 54, 0, 0.3));
    top: 50px;
    right: 0;
    position: absolute;
    background: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.section-service-form.fixable {
    position: fixed;
    right: calc((100% - 1140px)/2);
    top: 95px;
}
.section-service-form.scrollable {
    position: absolute;
    bottom: 50px;
    right: 0;
    top: unset;
}

.section-service-form_title {
    max-width: 200px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: white;
    margin: 0 0 40px;
}
.section-service-form_title span {
    color: #FF3600;
}

.section-service-form_submit {
    background: #FF3600;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
    width: 220px;
    margin-top: 10px;
}

.section-service-form_input {
    width: 198px;
    background: white;
    padding: 0 10px;
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: black;
    height: 35px;
    border-radius: 3px;
    border: 1px solid transparent;
    text-align: left;
}
.section-service-form_input:focus {
    outline: none;
    border: 1px solid #FF3600;
}
.section-service-form_input::placeholder {
    color: rgba(0, 0, 0, 0.84);
}

.section-service-form_input::-webkit-outer-spin-button,
.section-service-form_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.section-price {
    background: black;
}
.section-price-body {
    display: flex;
    padding: 50px 0;
    flex-direction: column;
}
.section-price-title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 0;
}
.section-price-title span {
    color: #FF3600;
}

.section-price-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.section-price-item {
    width: 25%;
    position: relative;
}
.section-price-item:before {
    position: absolute;
    content: '';
    right: -1px;
    top: 0;
   bottom: 0;
    width: 2px;
    background: #FF3600;
}
.section-price-item:last-child:before {
    display: none;
}

.section-price-item_title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 20px;
}
.section-price-item_description {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    max-width: 230px;
    margin: 0 auto;
}
.section-price-item_description span {
     font-style: italic;
     font-weight: 600;
     font-size: 28px;
 }

.section-price {
    background: black;
}

.section-price-body {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.section-price-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    color: #FFFFFF;
}
.section-price-title span {
    color: #FF3600;
}

.section-price-options {
    margin: 30px 0;
    display: flex;
}

.section-price-option-calc {
    width: 40%;
    border-right: 2px solid #FF3600;
}

.section-price-option-calc_item {
    display: flex;
}
.section-price-option-calc_item img {
    width: 150px;
    height: 150px;
    margin-right: 15px;
}

.section-price-option-calc_item-options > p {
    max-width: 210px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 0 0 15px;
}
.section-price-option-calc_item:first-child {
    margin-bottom: 30px;
}

.dropdown-item {
    height: 30px;
    border: 1px solid transparent;
    background: white;
    padding: 0 10px;
    border-radius: 3px;
    position: relative;
}
.dropdown-item > p {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: black;
    margin: 4px 0 0;
}

.dropdown-item > span{
    position: absolute;
    top: 42%;
    right: 10px;
}
.dropdown-item > span::before, .dropdown-item > span::after {
    content: '';
    height: 10px;
    width: 2px;
    background: black;
    position: absolute;
    transform: rotate(45deg);
}
.dropdown-item > span::after {
    transform: rotate(-45deg);
    left: -6px;
}

.option-margin {
    margin-bottom: 10px;
}

.dropdown-selection {
    margin: 0;
    padding: 0;
    position: absolute;
    left: -1px;
    background: white;
    right: -1px;
    z-index: 4;
    max-height: 210px;
    overflow-y: scroll;
    top: calc(100% - 1px );
    display: none;
    flex-direction: column;
    list-style: none;
}
::-webkit-scrollbar {
    width: 5px;
    border-radius: 2px;
    margin: 5px 0;
}
.dropdown-selection::-webkit-scrollbar-track {
    background: white;
    border-radius: 2px;
}

.dropdown-selection::-webkit-scrollbar-thumb {
    background: #FF3600;
    border-radius: 2px;
}


.dropdown-item.active .dropdown-selection {
    display: flex;
}

.dropdown-selection_item {
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    transition: ease 0.1s;
}
.dropdown-selection_item:hover {
    background: #FF3600;
    color: white;
    cursor: pointer;
}

 .dropdown-item.active > span::before, .dropdown-item.active > span::after {
    background: #FF3600;
}

.dropdown-selection.no-overflow {
    max-height: initial;
    overflow: initial;
}

.calc-results {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.calc-result-row {
    width: 100%;
    display: flex;
    align-items: center;
    height: 50%;
}
.calc-result-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.calc-result-title {
    margin: 0 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}
.calc-result-description {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    max-width: 210px;
}

.calc-result-description span {
    font-style: italic;
    font-weight: 600;
    font-size: 28px;
}

.contacts-section {
    background: black;
    padding: 0 0 50px 0;
}
.contacts-section-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contacts-section-wrapper {
    width: 100%;
    display: flex;
    margin-top: 30px;
}
.contacts-map-wrapper {
    width: 50%;
    height: 550px;
    z-index: 1;
    margin: auto;
}
.contacts-section-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 0;
}

.contacts-section-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.leaflet-control-attribution.leaflet-control {
    display: none;
}

.contacts-section-item {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    margin-bottom: 20px;
}

.contacts-section-item_title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    position: relative;
    margin: 0 0 15px;
}

.contacts-section-item_title::before {
    position: absolute;
    content: '';
    left: -55px;
    width: 40px;
    height: 2px;
    background: #FF3600;
    top: calc(50% - 1px);
}



.contacts-section-item_description {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    padding-left: 15px;
    margin: 0;
    text-decoration: none;
}

.contacts-section-item_description.with-svg-asset {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.contacts-section-item_description.with-svg-asset svg {
    margin-right: 10px;
}
footer.footer {
    background: black;
    border-top: 1px solid #fff;
    height: 80px;
}

.footer-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.footer-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 0;
}

.footer-contact {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0 0 0 15px;
}


.footer-title span {
   color: #FF3600;
    font-weight: 600;
    font-size: 20px;
}

.footer-socials {
    display: flex;
    align-items: center;
}
.footer-socials-item {
    margin-left: 10px;
    height: 30px;
}

.modal-success {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000000db;
    z-index: 5;
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-success.active {
    display: flex;
}
.modal-success-content {
    width: 500px;
    height: 400px;
    background: black;
    filter: drop-shadow(5px 5px 20px rgba(255, 54, 0, 0.3));
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

.modal-success-text {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 40px;
    color: #FFFFFF;
    max-width: 60%;
    text-align: center;
    margin-bottom: 40px;
}

.modal-success-text span {
    color: #FF3600;
}

.modal-success-close {
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: #FF3600;
    border-radius: 3px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: ease 0.2s;
    text-decoration: none;
}

@media(max-width: 1200px) {
    .container {
        max-width: 100%;
        margin: 0 32px;
    }
    .header-link, .header-button {
        font-size: 16px;
    }
    .header-logo {
        width: 200px;
    }
    .section-main-title {
        font-size: 32px;
        line-height: 36px;
    }
    .section-main-title span {
        font-size: 28px;
        line-height: 32px;
    }
    .section-main_item img {
        width: 25px;
        height: 25px;
    }
    .section-main_item {
        font-size: 18px;
    }
    .section-main-body {
        width: 320px;
        padding: 0;
        left: 0;
        height: 451px;
    }
    .section-main-title, .section-main-description {
        max-width: 285px;
    }
    .section-main {
        height: 450px;
    }
    .section-service-form.fixable {
        right: 32px;
    }
    .section-service-title, .section-price-title, .section-price-title, .contacts-section-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .section-service-item {
        max-width: 100%;
    }
    .section-service-text {
        max-width: calc(100% - 300px);
    }
    .section-service-item_title {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .section-service-form_title {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .section-service-form_input {
        margin-bottom: 15px;
        height: 35px;
    }
    .section-service-form {
        height: 330px;
        width: 260px;
    }
    .section-service-body, .section-price-body {
        padding: 30px 0;
    }
    .section-price-list {
        margin-top: 10px;
    }
    .section-price-item_title, .calc-result-title {
        font-size: 22px;
    }
    .section-price-item_description, .calc-result-description {
        font-size: 18px;
    }
    .section-price-item_description span, .calc-result-description span {
        font-size: 24px;
    }
    .section-price-option-calc_item-options > p {
        font-size: 18px;
    }
    .section-price-option-calc_item:first-child {
        margin-bottom: 10px;
    }
    .section-price-options, .contacts-section-wrapper {
        margin: 0;
    }
    .contacts-section-item_title {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .section-price-item_description {
        max-width: 90%;
    }
    .footer-contacts {
        display: none;
    }
}

.header-burger {
    display: none;
}

@media(max-width: 991px) {
    .contacts-section-wrapper {
        flex-direction: column-reverse;
    }
    .modal-success-content {
        width: 80%;
        height: fit-content;
    }
    .modal-success-text {
        font-size: 22px;
    }
    .contacts-section-info {
        width: 100%;
    }
    .contacts-map-wrapper {
        width: 100%;
        margin-top: 20px;
        height: 400px;
    }
    .calc-result-item {
        margin-bottom: 30px;
    }
    .calc-result-description {
        max-width: 90%;
    }
    .section-price-options {
        flex-direction: column;
    }
    .section-price-option-calc {
        border-right: none;
        width: 100%;
        flex-direction: row;
        display: flex;
    }
    .calc-results {
        border-top: 2px solid #FF3600;
        width: 100%;
        padding-top: 15px;
    }

    .section-price-option-calc_item {
        width: 50%;
    }


    .section-price-list {
        flex-wrap: wrap;
    }
    .section-price-item:nth-child(2):before {
        display: none;
    }
    .section-price-item {
        width: 50%;
        margin-bottom: 30px;
    }
    .section-price-item_title, .calc-result-title {
        margin-bottom: 10px;
    }

    .header-nav {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 80px;
        right: -100%;
        bottom: 0;
        background: black;
        z-index: 1;
        border-top: 1px solid #FF3600;
        transition: ease 0.3s;
    }
    .header-nav.active {
        right: 0;
    }
    .header-list {
        flex-direction: column;
        padding: 50px 0;
    }
    .header-list_item {
        padding: 10px 0;
    }
    .header-link {
        font-size: 24px;
    }
    .header-burger {
        position: relative;
        width: 25px;
        height: 3px;
        background: #FF3600;
        display: block;
        transition: ease 0.3s;
    }
    .header-burger::before, .header-burger::after {
        position: absolute;
        width: 25px;
        height: 3px;
        background: #FF3600;
        content: '';
        transition: ease 0.3s;
    }
    .header-burger::before {
        top: -8px;
    }
    .header-burger::after {
        bottom: -8px;
    }
    .header-burger.active {
        background: transparent;
    }
    .header-burger.active::before {
        top: 0;
        transform: rotate(45deg);
    }
    .header-burger.active::after {
        bottom: 0;
        transform: rotate(-45deg);
    }

    .header-button {
        margin-left: auto;
        margin-right: 20px;
    }
}

@media(max-width: 767px) {
    .contacts-section {
        padding-bottom: 20px;
    }
    .section-price-option-calc {
        flex-direction: column;
        align-items: center;
    }
    .contacts-section-item {
        padding-left: 40px;
        margin-bottom: 10px;
    }
    .section-price-option-calc_item {
        margin: 15px 0 0 0;
    }
    .contacts-section-item_title::before {
        left: -35px;
        width: 20px;
    }
    .contacts-section-item_title {
        font-size: 20px;
    }
    .section-price-body {
        padding-bottom: 15px;
    }
    .section-price-item_title, .calc-result-title {
        font-size: 20px;
    }
    .container {
        margin: 0 16px;
    }
    .section-main-title {
        font-size: 26px;
        line-height: 29px;
        margin-bottom: 30px;
    }
    .section-main-title span {
        font-size: 23px;
        line-height: 25px;
    }
    .section-main-description {
        font-size: 20px;
    }
    .section-main-title::after {
        bottom: -14px;
    }
    .section-main-body {
        height: 401px;
        width: 300px;
    }
    .section-main {
        height: 400px;
    }
    .section-main_item img {
        margin-right: 7px;
    }
    .section-main_item {
        font-size: 16px;
    }
    .section-main-title, .section-main-description {
        max-width: 250px;
    }
    .section-service-title, .section-price-title, .section-price-title, .contacts-section-title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .section-service-item {
        padding-left: 40px;
        margin-bottom: 10px;
    }
    .section-service-item_title::before {
        left: -35px;
        width: 20px;
    }
    .section-service-item_title {
        font-size: 20px;
    }
    .section-service-item_description {
        padding-left: 5px;
    }
    .section-service-form.fixable {
        right: 16px;
    }
    .section-service-form_title {
        font-size: 18px;
    }
    .section-service-form_input {
        height: 30px;
    }
    .section-service-form_submit {
        height: 35px;
        font-size: 16px;
    }
    .section-service-form {
        height: 290px;
        width: 220px;
    }
    .section-service-form_input {
        width: 170px;
        font-size: 14px;
    }
    .section-service-form_submit {
        width: 190px;
    }
    .section-service-text {
        max-width: calc(100% - 240px);
    }
    .section-price-option-calc_item {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .calc-result-row .calc-result-item:first-child {
        position: relative;
    }
    .calc-result-row .calc-result-item:first-child::before {
        position: absolute;
        content: '';
        right: -1px;
        top: 0;
        bottom: 0;
        width: 2px;
        background: #FF3600;
    }
}

@media(max-width: 600px) {
    .section-service-form {
        position: relative !important;
        right: unset !important;
        top: unset !important;
        left: unset !important;
        bottom: unset !important;
        width: 300px;
        margin: 25px auto 0 auto;
    }
    .section-service-body {
        flex-direction: column;
    }
    .section-service-text {
        max-width: 100%;
    }
    .footer-title {
        margin-right: 10px;
        font-size: 0;
    }
    .footer-title span {
        font-size: 18px;
        line-height: 18px;
    }
    .footer-body, footer.footer {
        height: 50px;
    }
}

.header-button svg {
    display: none;
}

@media(max-width: 520px) {
    .header-button svg {
        display: block;
    }
    .header-button {
        font-size: 0;
    }
    .header-body {
        height: 60px;
    }
    .section-main {
        margin-top: 60px;
        padding-top: 20px;
    }
    .header-nav {
        top: 60px;
    }
}

.select-params {
    color: #FF3600;
    margin: 0;
    font-style: normal;
}

@media(max-width: 425px) {
    .calc-result-row:last-child .calc-result-item:last-child {
        display: none;
    }
    .modal-success-content {
        width: 85%;
        height: fit-content;
        padding: 20px 10px;
    }
    .modal-success-text {
        font-size: 18px;
    }
    .modal-success-close {
        height: 35px;
        line-height: 35px;
        font-size: 18px ;
    }
    .calc-result-row:last-child .calc-result-item:first-child::before {
        display: none;
    }
    .section-main-body {
        width: 100%;
        position: relative;
    }
    .section-main {
        height: 100%;
        background: black;
    }
    .section-main-body {
        height: 100%;
    }
    .section-main-title, .section-main-description {
        max-width: 100%;
        text-align: center;
    }
    .section-main-title::after {
        left: calc(50% - 20px);
    }
    .section-main_item {
        font-size: 20px;
    }
    .section-price-item {
        width: 100%;
    }
    .section-price-item:before {
        height: 2px;
        right: calc(50% - 80px);
        width: 160px;
        bottom: -15px;
        top: unset;
    }
    .section-price-item:nth-child(2):before {
        display: block;
    }
    .section-price-body {
        padding-top: 0;
    }
    .calc-result-row {
        flex-direction: column;
    }
    .calc-result-item {
        width: 100%;
    }
    .calc-results {
        border-top: none;
    }
    .calc-result-row .calc-result-item::before, .calc-result-row .calc-result-item:first-child::before, .calc-result-row .calc-result-item:nth-child(2)::before  {
        position: absolute;
        content: '';
        background: #FF3600;
        height: 2px;
        right: calc(50% - 80px);
        width: 160px;
        bottom: -15px;
        top: unset;
    }
    .calc-result-row:last-child .calc-result-item:last-child::before {
        display: none;
    }
    .calc-result-item {
        position: relative;
    }
    .contacts-map-wrapper {
        height: 300px;
    }

    .section-service-form_input {
        width: 80%;
        min-width: 80%;
    }
    .section-service-form_submit {
        width: calc(80% + 20px);
    }
    .contacts-section-item, .section-service-item {
        padding-left: 0;
    }
    .contacts-section-item_title, .section-service-item_title {
        padding-left: 40px;
    }
    .contacts-section-item_title::before, .section-service-item_title::before {
        left: 0;
        width: 30px;
    }
    .section-main-title span {
        display: block;
    }
}

.path-phone path, .path-phone polygon{
    fill: #fff;
}

.width-18 {
    width: 18px !important;
    height: 18px !important;
}

.cls-1{fill:#fff;}
.cls-1, .cls-2{fill-rule:evenodd;}
.cls-2{fill:#fff;}
